/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    color: #353535; /* Dark gray for text */
}

/* Estilo del header */
header {
    background-color: #1f7a8c; /* Azul */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: #165764;
}

/* Contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Altura total menos el header */
    padding: 20px;
    background-color: #e1e5f2;
}

main h2 {
    text-align: center;
    color: #1f7a8c;
    margin-bottom: 20px;
}

main p {
    margin-bottom: 15px;
    color: #555;
    text-align: justify; /* Justifica el texto para una apariencia limpia */
}

/* Sección introductoria */
.intro {
    text-align: left;
}

/* Contenedor principal de contenido */
.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    text-align: center;
}

.content button {
    background-color: #1f7a8c; /* Teal for buttons */
    color: #ffffff; /* White text */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
}

.content button:hover {
    background-color: #165764; /* Dark blue for hover effect */
}

#message {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}
